---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Kusuma Sree" description="About Kusuma Sree">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>I am a B.Tech Computer Science student, passionate about technology and its 
						ability to shape the future. While I am still exploring the field of web 
						application development, I am deeply interested in learning and mastering 
						the art of creating dynamic, scalable, and user-focused web applications.

					</p>
					<p>
						My academic journey has provided me with a solid foundation in computer 
						science principles, and I am eager to apply this knowledge to web 
						development. Although I haven’t worked on web applications yet, I am 
						committed to honing my skills, experimenting with projects, and staying
					    updated with the latest technologies in this domain.


					</p>
					<p>
						I am enthusiastic about embarking on this journey and look forward 
						to creating impactful solutions in the near future.

					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>B.Tech in Computer Science and Engineering<br>
						Bheema Institute of Technology and Science(Currently Pursuing)<br>
					     Building a strong foundation in computing principles and technologies.<br>
					     Developing expertise in programming, algorithms, and web application development.
					</p>
					<p>Intermediate Education<br>
                        AP Model College (2019–2021)<br>
					    Completed secondary education with a focus on Mathematics, Physics, and Chemistry.<br>
						Achieved an impressive Percebtage of 87.2%.
					</p>
					<p>
						Secondary Education<br>
						BG Tilak Municipal Girls High School (2018–2019)<br>
                        Achieved an impressive CGPA of 9.8.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Python,Java(Fundamentals),MYSQL,HTML,CSS,Machine Learing,Data Science</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
