---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Kusuma Sree" description="About Kusuma Sree">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Who am i?</h2>
				<div class="content">
					<p>I am Himachandri a recent graduate in computer science & Engineering

						<br>• I completed my B.tech in BITS affiliated to Jntua
						
						<br>• A Junior Full stack developer
						
						<br>• i have done internship in Codsoft of python programming language
						
						my academic journey has provided me with a solid foundation in 
						computer science principles and iam eager to apply this knowledge 
						to create websites.Although i haven't worked on creating websites 
						yet i commited to honing my skills,experimenting with projects and
						staying updated with the latest technologiesin this domian.	</p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>B.Tech in Computer Science and Engineering<br>
						Bheema Institute of Technology and Science(Currently Pursuing)<br>
					     Building a strong foundation in computing principles and technologies.<br>
					     Developing expertise in programming, algorithms, and web application development.
					</p>
					<p>Intermediate Education<br>
                        AP Model College (2019–2021)<br>
					    Completed secondary education with a focus on Mathematics, Physics, and Chemistry.<br>
						Achieved an impressive Percebtage of 87.2%.
					</p>
					<p>
						Secondary Education<br>
						BG Tilak Municipal Girls High School (2018–2019)<br>
                        Achieved an impressive CGPA of 9.8.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Languages:Python,Java(Fundamentals)
				   <br>Database:MYSQL
				   <br>Web Technologies:HTML,CSS
				   <br>Machine Learing,Data Science</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
